@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@500;600;700&display=swap');


body {
    background-color: #121212;
}

.array-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 80%;
}

.array-bar{
    width: 6px;
    background-color: #BB86FC;
    display: inline-block;
    margin: 0 1px;
}

.array-container button{
    cursor: pointer;
    background-color: #BB86FC;
    color: black;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 0 0 10px 10px rgba(100, 100, 100, 0.1);
    transition: 0.2s ease-in-out;
}

.array-container button:disabled{
    border-color: white;
    color: white;
}

.slider{
    width: 50%;
    accent-color: #BB86FC;
    cursor: pointer;
    opacity: 1.0;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #BB86FC;
}

label{
    background-color: #BB86FC;
    color: black;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem;
}

