@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@500;600;700&display=swap');


body {
    background-color: rgb(230, 230, 230);
}

.array-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 80%;
}

.array-bar{
    width: 6px;
    background-color: rgba(66, 134, 244, 0.8);
    display: inline-block;
    margin: 0 1px;
    border: 1px solid black;
}

.array-container button{
    text-decoration: none;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    display: inline-block;
    margin: 6px 8px 6px 0;
    min-width: 88px;
    text-align: center;
    transition: 0.1s all ease;
}

.array-container button:hover:enabled {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
  }

.array-container button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.slider{
    width: 50%;
    accent-color: rgba(66, 134, 244, 0.8);
    cursor: pointer;
    opacity: 1.0;
    margin-top: 20px;
    margin-bottom: 20px;
    background: black;
}

label{
    text-decoration: none;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    display: inline-block;
    margin: 6px 8px 6px 0;
    min-width: 15vw;
    text-align: center;
    transition: 0.1s all ease;
}

